{% extends 'base.html' %} {% block content %}
<section class="hero is-dark" style="background-image: url('https://images.unsplash.com/photo-1611249021021-21220638532e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjY1fHxjb2ZmZWUlMjBzaG9wfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60'); background-size: cover; background-blend-mode: soft-light">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          About the Coffee
        </h1>
        <h2 class="subtitle">
          One is never enough
        </h2>
      </div>
    </div>
  </section>
  <body>
    <section class="section">
      <div class="container">
        <h1 class="title">Our Beans</h1>
        <h2 class="subtitle">
            The three dispersed phases in <strong>espresso</strong> are what make this beverage unique. The first dispersed phase is an emulsion of oil droplets. The second phase is suspended solids, while the third is the layer of gas bubbles or foam. The dispersion of very small oil droplets is perceived in the mouth as creamy. This characteristic of <strong>espresso</strong> contributes to what is known as the body of the beverage. These oil droplets preserve some of the aromatic compounds that are lost to the air in other coffee forms, enhancing the strong flavor of <strong>espresso</strong>.
        </h2>
      </div>
    </section>
  </body>
  <section class="hero is-dark is-fullheight" style="background-image: url('https://images.unsplash.com/photo-1513528916469-746b1cf609e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60'); background-size: cover; background-blend-mode: soft-light">
    <div class="hero-body">
      <div class="">
        <p class="title">
          The Coffee Shop
        </p>
        <p class="subtitle">
          Fullheight subtitle
        </p>
      </div>
    </div>
  </section>
{% endblock %}



