{% extends 'base.html' %} 
{% block content %}
<section class="hero is-dark" style="background-image: url('https://images.unsplash.com/photo-1611249021021-21220638532e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjY1fHxjb2ZmZWUlMjBzaG9wfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60'); background-size: cover; background-blend-mode: soft-light">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          About the Coffee
        </h1>
        <h2 class="subtitle">
          One is never enough
        </h2>
      </div>
    </div>
  </section>
  <body>
<h1>Add a Product</h1>

<form method="post">
<!-- Security Feature  -->
  {% csrf_token %} 
<!--  Generate inputs  -->
  {{form.as_p}} 
<!--  Submit form  -->
  <input type="submit" value="Submit" />
</form>

{% endblock %}